* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.navbar_get_touch {
  background-color: transparent;
  background-image: linear-gradient(90deg, #fc9d44 -20%, #ff4969 115%);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.6rem;
  font-weight: 700;
}
.navbar_cross {
  padding-top: 3rem;
}
.navbar_bar {
  color: rgb(241, 84, 84);
  font-weight: 400 !important;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.sidenavbar {
  width: 500px;
  height: 35.5rem;
  display: none;
  position: absolute;
  top: 5.5rem;
  right: 1px;
  z-index: 691;
  padding: 1.2rem;
  background-color: #ff5e62   ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#navbar_cross {
  color: rgb(241, 84, 84);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}
.icons {
  /* background-color: grey; */
  color: rgb(180, 177, 177);
  margin: 0.2rem;
}

.banner_background {
  display: flex;
  
  width: 100%;
  height: 30rem;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner_button{
  padding: 7px 22px;
  border: 0px;
  border-radius: 15px;
}
